html {
  min-height: 100%;
  display: flex;
}

body{
  flex:1;
}

.flex-grow {
  flex: 1 0 auto;
}

.bmd-layout-canvas {
  flex-grow: 1;
}

.td-slot{
  text-align: center;
}

.slot-name{
  text-align: center;
}

.slot-location{
  text-align: center;
}
